.newOrder-Section {
  background-image: url("../../../assets/background.png");
  background-size: cover;
  margin: 0;
  min-height: 100vh;
  width: auto;
  padding: 30px;
}

.headerSection {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerButton {
  background-color: transparent;
  border: none;
  width: 60px;
  height: 60px;
}

.button-img {
  width: 45px;
  height: 45px;
}

.buttonHeader {
  width: 150px;
  display: flex;
  flex-direction: row;
}

#profile-button {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--marron);
  font-size: 20px;
  margin-right: 10px;
}

#profileImg {
  margin-left: 10px;
}

#logo-Header {
  width: 150px;
  height: 150px;
}

.allOrdersButton {
  background-color: transparent;
  border: none;
  color: var(--marron);
  text-decoration: underline;
  font-size: 20px;
  margin-bottom: 15px;
}

.orderSection {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.dashboardSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menuSection {
  display: flex;
  flex-direction: column;
  background-color: var(--blanco);
  width: 300px;
  height: 750px;
  border: var(--marron) solid 1px;
  border-radius: 10px;
  padding: 10px;
}

.selectSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tableSelect {
  margin: 10px 5px 0;
  height: 30px;
  width: 180px;
  border-radius: 10px;
  border-color: var(--marron);
  border-width: 1px;
  border-image: none;
  border-style: solid;
  padding-left: 10px;
  font-size: 18px;
}

option {
  font-size: 12px;
}

.name {
  font-size: 15px;
}

.buttonMenuSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuButton {
  background-color: var(--amarillo-suave);
  border-radius: 10px;
  border-style: none;
  padding: 10px 10px;
  font-size: 20px;
  width: 140px;
  height: 60px;
  margin: 0 5px;
}

.selectedButton {
  background-color: var(--amarillo);
}

.cards {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 100%;
}

.product-img {
  height: 80px;
  width: 80px;
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 100%;
}

.product-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.product-name {
  margin: 10px 0px 0px;
  height: 40px;
}

.product-price {
  margin: 10px;
}

.foodSection {
  overflow-y: auto;
  height: 550px;
  overflow-x: hidden;
}

.orderInfoSection {
  background-color: var(--amarillo);
  width: 350px;
  height: 750px;
  border: var(--marron) solid 1px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  justify-content: space-between;
  text-align: center;
}

h3 {
  font-size: 25px;
  margin: 10px 0 15px 0;
}

table {
  table-layout: auto;
  width: 320px;
  font-size: 20px;
}

.sendOrderButton {
  background-color: var(--rojo);
  font-size: 20px;
  color: var(--blanco);
  border-radius: 10px;
  border-style: none;
  padding: 10px 25px;
}

.addProductButtons {
  display: flex;
  flex-direction: row;
}

.icons {
  height: 20px;
  width: 20px;
}

.cant {
  height: 20px;
  width: 20px;
  margin: 0 4px;
  border: var(--marron) solid 1px;
}

.iconsButton {
  border: none;
  background-color: transparent;
}

thead th {
  border-bottom: 1px solid var(--marron);
  padding: 10px 0;
}

thead th:nth-child(1) {
  width: 50%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 35%;
}

td {
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid var(--marron);
  padding: 10px 0;
}

#total {
  font-weight: 900;
}

.orderButton-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.orderInfo-section {
  margin-bottom: 20px;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: var(--blanco);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--marron);
  border-radius: 20px;
  border: 3px solid var(--blanco);
}

.foodSection::-webkit-scrollbar {
  width: 12px;
}

.foodSection::-webkit-scrollbar-track {
  background: var(--blanco);
}

.foodSection::-webkit-scrollbar-thumb {
  background-color: var(--marron);
  border-radius: 20px;
  border: 3px solid var(--blanco);
}

.orderInfoSection::-webkit-scrollbar {
  width: 12px;
}

.orderInfoSection::-webkit-scrollbar-track {
  background: none;
}

.orderInfoSection::-webkit-scrollbar-thumb {
  background-color: var(--marron);
  border-radius: 20px;
  border: 3px solid var(--amarillo);
}

@media (min-width: 1500px) {
  .orderSection {
    margin-right: 50px;
    margin-bottom: 20px;
  }
  .table-order-waiter {
    width: 550px;
  }
  .orderInfoSection {
    width: 600px;
    height: 600px;
  }
 
  .menuSection {
    width: 600px;
    height: 600px;
  }
  .cards {
    grid-template-columns: auto auto auto auto;
  }
}

@media (min-width: 1000px) {
  .orderSection {
    margin-right: 30px;
    margin-bottom: 20px;
  }
  .orderInfoSection {
    width: 400px;
  }
  .menuSection {
    width: 400px;
  }
}

@media (max-width: 710px){
  .menuSection {
    width: 40%;
    height: 100%;
    padding: 10px;
    margin-right: 5px;
  }
  .tableSelect {
    width: 90%;
    margin: 10px 0 0;
    font-size: 17px;
  }
  input{
    width: 90%;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .buttonMenuSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .menuButton {
    padding: 10px 3px;
    font-size: 17px;
    width: 85%;
    height: 100%;
    margin: 4px 5px;
  }
  .foodSection {
    height: 100%;
    overflow-x: hidden;
  }
  .cards {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 40vh
  }
  .allOrdersButton {
       font-size: 18px;
    margin-bottom: 5px;
  }
  .orderSection {
    margin-bottom: 10px;
  }
  .product-img {
    height: 60px;
    width: 60px;
  }
  .product-name {
    margin: 5px 0px 0px;
    height: auto;
  }
  .orderInfoSection {
    width: 50%;
    height: 585px;
    margin-left: 5px;
    }
    .orderInfo-section {
      margin-bottom: 10px;
      overflow: hidden;
    }
    h3 {
      font-size: 20px;
      margin: 10px 0 0 0;
    }
    .table-order-waiter {
      width: 50%;
      font-size: 17px;
    }
    .newOrder-Section {
         padding: 15px 10px;
    }
    thead th:nth-child(1) {
      width: 50%;
    }
    
    thead th:nth-child(2) {
      width: 20%;
    }
    
    thead th:nth-child(3) {
      width: 30%;
    }
    .table-td {
      font-size: 15px;
    }
    .sendOrderButton {
      font-size: 17px;
    }
    .dashboardSection {
   margin: 20px 0;
    }
}
