.adminHomeSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.admin-home{
    background-image: url("../../assets/background.png");
    background-size: cover;
    margin: 0;
    height: 964px;
    width: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.adminHomeImg{
    width: 55%;
    height: 55%;
}
.adminHomeButton {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--marron);
    border-radius: 10px;
    background: var(--blanco);
    font-size:x-large;
    color: var(--marron);
    text-decoration: none;
}
a {
    text-decoration: none;
}
@media (max-width: 710px) {
    .adminHomeButton {
        width: 300px;
        height: 180px;
        flex-direction: row;
        margin: 10px 0;
        font-size: 20px;
        justify-content: space-evenly;
    }
    .adminHomeImg{
        width: 38%;
        height: 70%;
    }
    .adminHomeSection{
        flex-direction: column;
        justify-content: center;
        height: 90%;
        align-items: center;
        padding: 0 30px;
    }
    .admin-home{
        height: 100vh;
        width: auto;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
}