.worker-list {
  background-image: url("../../../assets/background.png");
  background-size: cover;
  margin: 0;
  height: 964px;
  width: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.worker-list-container {
  height: 750px;
  border: var(--marron) solid 1px;
  border-radius: 10px;
  padding: none;
  display: flex;
  background-color: var(--blanco);
  
  flex-direction: column;
  overflow-y: auto;
  justify-content: space-between;
  text-align: center;
}
.worker-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  display: inline-block;
}

.worker-title {
  background-color: var(--marron);
  color: var(--blanco);
  font-size: 25px;
  border-radius: 10px 10px 0 0;
  padding: 12px;
}

.worker-table {
  border: none;
  border-radius: 0 0 10px 10px;
  width: auto;
  background-color: var(--blanco);
  margin: none;
  width: 100%;
}
.worker-th {
  color: var(--marron);
}

#worker-th-1 {
  width: 10%;
}

#worker-th-2 {
  width: 30%;
}
#worker-th-3 {
  width: 30%;
}
#worker-th-4 {
  width: 15%;
}
#worker-th-5 {
  width: 15%;
}
.tableButtons {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  justify-content: center;
}

.worker-edit {
  background: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  padding: 0;
}
.worker-delete {
  background: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  padding: 0;
}
.worker-add {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--amarillo);
  color: var(--blanco);
  font-size: 18px;
  width: 180px;
  display: flex;
  flex-direction: row;
}
.imgButton {
  width: 35px;
  height: 35px;
}
.add-button-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Estilos para centrar el modal */
.worker-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
}

/* Estilos específicos para el contenido del modal */
.worker-modal-content {
  border: 1px solid var(--marron);
  border-radius: 10px;
  background-color: var(--blanco);
  color: var(--marron);
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  width: 450px; /* Ajusta según sea necesario */
}

.form-select {
  width: 364px;
  border-radius: 10px;
  border: 1px solid var(--marron);
  margin: 8px 0;
  padding: 7px;
  position: relative;
}
option {
  width: 100%;
  background-color: var(--blanco);
}

.input-modal {
  width: 350px;
  border-radius: 10px;
  margin: 8px 0;
}
/* Estilos para el formulario dentro del modal
.worker-edit-modal-form {
  width: 100%; /* O ajusta según sea necesario */

.close-button-modal {
  position: relative;
  right: -190px;
}

.modal-title {
  margin-bottom: 10px;
}

.modal-header {
  display: flex;
  flex-direction: column-reverse;
}

.custom-close-button {
  width: 25px; /* Ajusta según sea necesario */
  height: 25px; /* Ajusta según sea necesario */
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
}

.close-img {
  width: 25px; /* Ajusta según sea necesario */
  height: 25px;
}
.modalHeader {
  display: flex;
  flex-direction: row;
}
.btn-close {
  background-image: url("../../../assets/x.png");
  width: 25px;
  height: 25px;
  background-size: 25px;
  border: none;
  background-color: none;
  transform: translate(150px);
}
.btn-success {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--amarillo);
  color: var(--blanco);
  font-size: 15px;
  width: 140px;
  margin-top: 20px;
}
@media (max-width: 710px) {
  .worker-list {
    height: 100vh;
    padding: 15px;
  }
  .worker-list-container {
    height: 630px;
    margin-top: 10px;
  }
  .worker-table {
    font-size: 17px;
  }
  .worker-title {
    font-size: 20px;
  }
  .worker-td{
    font-size: 15px;
 
  }
  .imgButton {
    width: 30px;
    height: 30px;
  }
  .tableButtons {
    padding: 0 5px;
  }
  .worker-add {
    padding: 7px;
    font-size: 16px;
    width: 150px;
    justify-content: space-evenly;
  align-items: center;
  }
}
