.chef-section {
  background-image: url("../../assets/background.png");
  background-size: cover;
  margin: 0;
  min-height: 100vh;
  max-height: 200vh;
  width: auto;
  padding: 30px;
}

.orders-section {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  margin-top: 30px;
  overflow-y: auto;
}

.orderCard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--amarillo);
  border: 1px solid var(--marron);
  border-radius: 10px;
  width: 190px;
  padding: 10px;
  position: relative;
  margin: 10px;
  justify-content: space-between;
}

.table {
  width: 210px;
}

.order-time {
  border-bottom: 1px solid var(--marron);
  font-size: 15px;
  padding-bottom: 15px;
  padding-bottom: 10px;
}

.order-table {
  font-weight: 900;
}

.order-product {
  font-size: 15px;
}

.finalice-order {
  background-color: var(--rojo);
  font-size: 15px;
  color: var(--blanco);
  border-radius: 10px;
  border-style: none;
  padding: 10px 25px;
}
.finalice-order:disabled {
  background-color: var(--rojo-suave);
  cursor: not-allowed;
}

.buttonChef-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  flex-direction: column;
}

#product-name {
  width: 70%;
}

.total-time {
  text-align: center;
  font-size: 15px;
  color: var(--rojo);
}

@media (min-width: 1700px) {
  .orders-section {
    grid-template-columns: auto auto auto auto auto auto auto;
  }
}

@media (min-width: 1500px) {
  .orders-section {
    grid-template-columns: auto auto auto auto auto auto;
  }
}
@media (min-width: 1000px) {
  .orders-section {
    grid-template-columns: auto auto auto auto;
  }
}

@media (min-width: 1350px) {
  .orders-section {
    grid-template-columns: auto auto auto auto auto;
  }
}
@media (max-width: 710px) {
  .orders-section {
    grid-template-columns: auto;
  }
}