@import url("https://fonts.googleapis.com/css2?family=Amiko&family=Montserrat:wght@400;500;700&display=swap");
:root {
  --marron: #b05328;
  --rojo: #cd0508;
  --amarillo: #feae0d;
  --blanco: #f5f5f5;
  --verde: #2ba60d;
  --negro: #1e1e1e;
  --amarillo-suave: #ffd684;
  --rojo-suave: #f35658;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Amiko";
}

.login-section {
  background-image: url("../../assets/background-burger.png");
  background-size: cover;
  margin: 0;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: var(--blanco);
  border-radius: 10px;
  padding: 10px 100px 25px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-img {
  height: 200px;
  width: 200px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  margin: 15px 0;
  height: 30px;
  width: 180px;
  border-radius: 10px;
  border-color: var(--marron);
  border-width: 1px;
  border-image: none;
  border-style: solid;
  padding-left: 10px;
}

h1 {
  color: var(--marron);
  font-size: 25px;
}

.login-button {
  background-color: var(--rojo);
  font-size: 20px;
  color: var(--blanco);
  border-radius: 10px;
  border-style: none;
  padding: 10px 25px;
  margin: 15px 0;
}

.errormsg {
  width: 194px;
  font-size: 15px;
  color: var(--rojo);
}
@media (max-width: 710px){
  .login-container {
    padding: 10px 50px 25px 50px;
  }
  .logo-img {
    height: 170px;
    width: 170px;
  }
  h1 {
    font-size: 22px;
  }
}
